.audit-preview-svg {
    display: block;
    width: 100%;
    border-radius: 0.25rem;

    &.audit-restore-preview {
        width: 250px;
    }

    svg {
        width: 100%;
        padding: 1rem;
    }
}

.h-5 {
    height: 1.25rem;
}
